<html>
  <head>
    {% if title %}
    <title>{{ title }} - Lifeguard</title>
    {% else %}
    <title>Lifeguard</title>
    {% endif %}
    <link rel="shortcut icon" href="/static/images/favicon.png">
    <link href="/static/css/master.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head> 
  <body> 
    <header class="jumbotron">
      <div class="row">
        <h1 class="col-sm-4"><a class='LG_EE' href='/lifeguards'>Lifeguard</a></h1>
        <nav class="col-sm-8">
          <a href="/" class="btn btn-transparent" role="button">Home</a>
          {% if head_links %}

            {% for topic in head_links %}
            <div class="dropdown">
              <button class="btn btn-transparent dropdown-toggle" type="button" data-toggle="dropdown">{{ topic.name }}
              <span class="caret"></span></button>
              <ul class="dropdown-menu">

                {% for subtopic in topic.subtopics %}
                <li class="dropdown-item"><a href={{ subtopic.location }}>{{ subtopic.name }}</a></li>
                {% endfor %}

              </ul>
            </div>
            {% endfor %}

          {% endif %}
        </nav>
      </div>
    </header>

    {% with successes = get_flashed_messages(category_filter=["success"]) %}
      {% if successes %}
        <div class="alert alert-success">
          <ul class=flashes>
            <strong>Success!</strong>
            {% for message in successes %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endwith %}

    {% with errors = get_flashed_messages(category_filter=["error"]) %}
      {% if errors %}
        <div class="alert alert-danger">
          <ul class=flashes>
            <strong>Error!</strong>
            {% for message in errors %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endwith %}

    {% with warnings = get_flashed_messages(category_filter=["warning"]) %}
      {% if warnings %}
        <div class="alert alert-warning">
          <ul class=flashes>
            <strong>Warning!</strong>
            {% for message in warnings %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endwith %}

    <div class="container">
    {% if image %}
      <img src={{ image }}>
    {% else %}
      <h3>{{ title }}</h3>
    {% endif %}
    <hr>
    {% block content %}
    {% endblock %}
    </div>
  </body>
</html>