{% extends "base.html" %}
{% block content %}
  <script type="text/javascript" src="/static/scripts/learning.js"></script>
  <form action="" method="post" name="login" id="kit_booking_form">
  <div id="initials_box">
  <p>
    {{ form.name(autocomplete="off", maxlength="4", placeholder="Enter Initials", class="form-control form-control-success", style="width: 110px", id="initials_box_input_field") }}
    </p>
  </div>
  <div id="note_box">
    <p>
      Please enter your reasons for booking the kit:<br>
      {{ form.note(style="width: 800;max-width: 800px;height: 200px;max-height: 200px", autocomplete="off") }}
    </p>
  </div>
    <p><button class="btn btn-submit-outline" role="input type="submit">Request</button></p>
  </form>
{% endblock %} 
