{% extends "base.html" %}
{% block content %}
  <script type="text/javascript" src="/static/scripts/kit_booking_input.js"></script>
  <script type="text/javascript" src="/static/scripts/kit_release_button_links.js"></script>
  <script type="text/javascript" src="/static/scripts/checkbox.js"></script>
  <script>
    $(function () {
      $('[data-toggle="popover"]').popover();
    });
  </script>
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<!-- TOP LEVEL BUTTONS -->

  <div class="container" id="deployment_buttons">
    <div class="col-sm-12" id="button-{{perimeta.name}}">
      <button type="button" class="btn btn-{{ perimeta.state }} btn-block" style="float: center" title="PERIMETA WANTS TO EXIST">{{ perimeta.name }}</button>
    </div>
    {% for deployment_name in cc_deployment_names %}
      <div class="col-sm-6">
        <button type="button" class="btn btn-{{ bookings['clearwater'][deployment_name].state }} btn-block" id="cc_deployment_button-{{ bookings['clearwater'][deployment_name].name }}">{{ bookings['clearwater'][deployment_name].name }}</button>
      </div>
    {% endfor %}
  </div>

<!-- GENERIC BUTTON STUFF -->

  <p><button class="btn btn-primary btn-outline hidden" style="display: inline" id="node_screen_back_button"><span class="glyphicon glyphicon-arrow-left"></span> Back</button>
  <div class="hidden" id="toggle_div">
    <input type="checkbox" data-toggle="toggle" checked data-on="Release" data-off="Book" data-width=200 class="release_book_toggle" id="release_book_toggle">
  </div>

<!-- LOWER LEVEL FORMS -->

  {% for deployment in form.clearwater_deployments %}
    <!-- DEFAULT RELEASE FORM -->
    <div class="container hidden" id="release_form-{{ deployment.name }}">
      <div class="col-sm-12">
        <span class="button-checkbox">
          {% if not bookings['clearwater'][deployment['name']]['fully_unbooked'] %}
            <button type="button" class="btn btn-xlg-check-not-full" data-color="primary" id="select_all_button-{{ deployment.name }}">{{ deployment.name }}</button>
            <input type="checkbox" class="hidden" id="select_all_checkbox-{{ deployment.name }}">
          {% else %}
            <button type="button" class="btn btn-xlg-check-not-full disabled" data-color="primary" id="select_all_button-{{ deployment.name }}">{{ deployment.name }}</button>
            <input type="checkbox" class="hidden" disabled="true" id="select_all_checkbox-{{ deployment.name }}">
          {% endif %}
        </span>

      </div>

      <form action="" method="post" name="login" id="kit_booking_form">
      <div class="col-sm-3" id="{{ deployment.name }}">
        {% for node in deployment.nodes %}
          <p>
            <span class="button-checkbox">

              {% if not bookings['clearwater'][deployment.name]['nodes'][node.name]['available'] %}
                <button type="button" class="btn-indent btn" data-color="primary" id="checkbox_button-{{ deployment.name }}-{{ node.name }}" data-html="true" data-toggle="popover" title="{{ node.name }}" data-content="{{ bookings['clearwater'][deployment.name]['nodes'][node.name]['tooltip'] }}" data-trigger="hover" data-container="body">{{ node.name }}</button>
                {{ node(class="hidden", id="checkbox-"+deployment.name+"-"+node.name) }}
              {% else %}
                <button type="button" class="btn-indent btn disabled" data-color="primary">{{ node.name }}</button>
                {{ node(class="hidden", disabled="true", id="checkbox-"+deployment.name+"-"+node.name) }}
              {% endif %}

            </span>
          </p>
        {% endfor %}
      </div>
      <div id="initials_box-{{ deployment.name }}" class="form-group col-sm-9">
        <p>
          {{ form.name(autocomplete="off", maxlength="4", placeholder="Enter Initials", class="form-control", style="width: 110px;", id="initials_box_input_field-"+deployment.name) }}
          <span class="glyphicon form-control-feedback" id="initials_box_glyph-{{ deployment.name }}" style="position: absolute; left:80px; top:0px;"></span>
        </p>
        <p>{{ form.note(autocomplete="off", placeholder="Additional note (optional)", class="form-control reason-box") }}
        </p>
        <div class="col-sm-2" style="float: right">
          <p><button type="submit" class="btn btn-primary btn-outline" style="float: right">Release</button></p>
        </div>
      </div>
      </form>
    </div>



























    <div class="container hidden" id="book_form-{{ deployment.name }}">
      <div class="col-sm-12">
        <span class="button-checkbox">
          {% if not bookings['clearwater'][deployment['name']]['fully_booked'] %}
            <button type="button" class="btn btn-xlg-check-not-full" data-color="primary" id="select_all_button-{{ deployment.name }}">{{ deployment.name }}</button>
            <input type="checkbox" class="hidden" id="select_all_checkbox-{{ deployment.name }}">
          {% else %}
            <button type="button" class="btn btn-xlg-check-not-full disabled" data-color="primary" id="select_all_button-{{ deployment.name }}">{{ deployment.name }}</button>
            <input type="checkbox" class="hidden" disabled="true" id="select_all_checkbox-{{ deployment.name }}">
          {% endif %}
        </span>

      </div>

      <form action="" method="post" name="login" id="kit_booking_form">
      <div class="col-sm-3" id="{{ deployment.name }}">
        {% for node in deployment.nodes %}
          <p>
            <span class="button-checkbox">

              {% if bookings['clearwater'][deployment.name]['nodes'][node.name]['available'] %}
                <button type="button" class="btn-indent btn" data-color="primary" id="checkbox_button-{{ deployment.name }}-{{ node.name }}" data-html="true" data-toggle="popover" title="{{ node.name }}" data-content="{{ bookings['clearwater'][deployment.name]['nodes'][node.name]['tooltip'] }}" data-trigger="hover" data-container="body">{{ node.name }}</button>
                {{ node(class="hidden", id="checkbox-"+deployment.name+"-"+node.name) }}
              {% else %}
                <button type="button" class="btn-indent btn disabled" data-color="primary">{{ node.name }}</button>
                {{ node(class="hidden", disabled="true", id="checkbox-"+deployment.name+"-"+node.name) }}
              {% endif %}

            </span>
          </p>
        {% endfor %}
      </div>
      <div id="initials_box-{{ deployment.name }}" class="form-group col-sm-9">
        <p>
          {{ form.name(autocomplete="off", maxlength="4", placeholder="Enter Initials", class="form-control", style="width: 110px;", id="initials_box_input_field-"+deployment.name) }}
          <span class="glyphicon form-control-feedback" id="initials_box_glyph-{{ deployment.name }}" style="position: absolute; left:80px; top:0px;"></span>
        </p>
        <p>{{ form.note(autocomplete="off", placeholder="Additional note (optional)", class="form-control reason-box") }}
        </p>
        <div class="col-sm-2" style="float: right">
          <p><button type="submit" class="btn btn-primary btn-outline" style="float: right">Book</button></p>
        </div>
      </div>
      </form>
    </div>
  {% endfor %}
{% endblock %}
