{% extends "base.html" %}
{% block content %}
  <script type="text/javascript" src="/static/scripts/learning.js"></script>
  <form action="" method="post" name="login">
    <p>{{ form.name(maxlength="4", placeholder="Enter Initials", class="form-control", style="width: 110px") }}</p>
    <div class="col-sm-3">

    </div>
    <p>
      <br>
      Please enter your reasons for booking the kit:<br>
      {{ form.note(style="width: 800;max-width: 800px;height: 200px;max-height: 200px", autocomplete="off") }}
    </p>
      <p><button class="btn btn-submit-outline" role="input" type="submit">Request</button></p>
  </form>
{% endblock %} 
