{% extends "base.html" %}
{% block content %}
  <script type="text/javascript" src="/static/scripts/kit_booking_input.js"></script>
  <script type="text/javascript" src="/static/scripts/kit_release_button_links.js"></script>
  <script type="text/javascript" src="/static/scripts/checkbox.js"></script>
  <script>
    $(function () {
      $('[data-toggle="popover"]').popover();
    });
  </script>
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<!-- TOP LEVEL BUTTONS -->

  <div class="container" id="deployment_buttons">
    <div class="col-sm-12" id="button-{{ bookings['perimeta']['name'] }}">
    {% if bookings['perimeta']['available'] %}
      <button type="button" class="btn btn-success btn-block" style="float: center" title="L3 Perimeta" data-html="true" data-toggle="popover" data-content="{{ bookings['perimeta']['tooltip'] }}" data-trigger="hover" data-container="body" data-placement="top" id="deployment_button-perimeta">{{ bookings['perimeta']['name'] }}</button>
    {% else %}
      <button type="button" class="btn btn-danger btn-block" style="float: center" title="L3 Perimeta" data-html="true" data-toggle="popover" data-content="{{ bookings['perimeta']['tooltip'] }}" data-trigger="hover" data-container="body" data-placement="top" id="deployment_button-perimeta">{{ bookings['perimeta']['name'] }}</button>
    {% endif %}
    </div>
    {% for deployment_name in cc_deployment_names %}
      <div class="col-sm-6">
        <button type="button" class="btn btn-{{ bookings['clearwater'][deployment_name].state }} btn-block" id="deployment_button-{{ bookings['clearwater'][deployment_name].name }}">{{ bookings['clearwater'][deployment_name].name }}</button>
      </div>
    {% endfor %}
    {% for deployment_name in vt_deployment_names %}
      <div class="col-sm-6">
        <button type="button" class="btn btn-{{ bookings['volte'][deployment_name].state }} btn-block" id="deployment_button-{{ bookings['volte'][deployment_name].name }}">{{ bookings['volte'][deployment_name].name }}</button>
      </div>
    {% endfor %}
    {% for deployment_name in ccf_deployment_names %}
      <div class="col-sm-6">
        <button type="button" class="btn btn-{{ bookings['ccf'][deployment_name].state }} btn-block" id="deployment_button-{{ bookings['ccf'][deployment_name].name }}">{{ bookings['ccf'][deployment_name].name }}</button>
      </div>
    {% endfor %}
  </div>

<!-- GENERIC BUTTON STUFF -->

  <p><button class="btn btn-primary btn-outline hidden" style="display: inline" id="node_screen_back_button"><span class="glyphicon glyphicon-arrow-left"></span> Back</button>
    <div class="hidden" id="toggle_div">
      <input type="checkbox" data-toggle="toggle" checked data-on="Release" data-off="Book" data-width=200 class="release_book_toggle" id="release_book_toggle">
    </div>
  </p>

<!-- PERIMETA FORMS -->
<div class="container hidden" id="release_form-perimeta">
  <form method="post" action="/perimeta_kit_release">
    <div id="initials_box-release-perimeta" class="form-group col-sm-9">
      <p>
        {{ perimeta_form.name(autocomplete="off", maxlength="4", placeholder="Enter Initials", class="form-control", style="width: 110px;", id="initials_box_input_field-release-perimeta") }}
          <span class="glyphicon form-control-feedback" id="initials_box_glyph-release-perimeta" style="position: absolute; left:80px; top:0px;"></span>
      </p>
      <p>
        {{ perimeta_form.pointing(autocomplete="off", maxlength="20", placeholder="Enter deployment Perimeta will point at", class="form-control", style="width: 300px;", id="pointing_box_input_field-release-perimeta") }}
      </p>
      <p>{{ perimeta_form.note(autocomplete="off", placeholder="Additional note (optional)", class="form-control reason-box", id="note-release-perimeta") }}
      </p>
      <p>{{perimeta_form.use_pointing}} Use lifeguard to point Perimeta</p>
      <div class="col-sm-2" style="float: right">
        <p><button type="submit" class="btn btn-primary btn-outline" style="float: right" {% if bookings['perimeta']['available'] %} disabled="true" {% endif %}>Release</button></p>
      </div>
    </div>
  </form>
</div>
<div class="container hidden" id="book_form-perimeta">
  <form action="/perimeta_kit_booking" method='post'>
    <div id="initials_box-book-perimeta" class="form-group col-sm-9">
      <p>
        {{ perimeta_form.name(autocomplete="off", maxlength="4", placeholder="Enter Initials", class="form-control", style="width: 110px;", id="initials_box_input_field-book-perimeta") }}
          <span class="glyphicon form-control-feedback" id="initials_box_glyph-book-perimeta" style="position: absolute; left:80px; top:0px;"></span>
      </p>
      <p>
        {{ perimeta_form.pointing(autocomplete="off", maxlength="20", placeholder="Enter deployment Perimeta will point at", class="form-control", style="width: 300px;", id="pointing_box_input_field-book-perimeta") }}
      </p>
      <p>{{ perimeta_form.note(autocomplete="off", placeholder="Additional note (optional)", class="form-control reason-box", id="note-book-perimeta") }}
      </p>
      <p>{{perimeta_form.use_pointing(checked="checked")}} Use lifeguard to point Perimeta</p>
      <div class="col-sm-2" style="float: right">
        <p><button type="submit" class="btn btn-primary btn-outline" style="float: right" {% if not bookings['perimeta']['available'] %} disabled="true" {% endif %}>Book</button></p>
      </div>
    </div>
  </form>
</div>


<!-- CC FORMS -->

  {% for deployment in clearwater_form.deployments %}
    <!-- DEFAULT RELEASE FORM -->
    <div class="container hidden" id="release_form-{{ deployment.name }}">
      <div class="col-sm-12">
        <span class="button-checkbox">
          {% if not bookings['clearwater'][deployment['name']]['fully_unbooked'] %}
            <button type="button" class="btn btn-xlg-check-not-full" data-color="primary" id="select_all_button-release-{{ deployment.name }}">{{ deployment.name }}</button>
            <input type="checkbox" class="hidden" id="select_all_checkbox-release-{{ deployment.name }}">
          {% else %}
            <button type="button" class="btn btn-xlg-check-not-full disabled" data-color="primary" id="select_all_button-release-{{ deployment.name }}">{{ deployment.name }}</button>
            <input type="checkbox" class="hidden" disabled="true" id="select_all_checkbox-release-{{ deployment.name }}">
          {% endif %}
        </span>

      </div>

      <form method="post" name="login" id="kit_booking_form" action="/clearwater_kit_release">
      <div class="col-sm-3" id="{{ deployment.name }}">
        {% for node in deployment.nodes %}
          <p>
            <span class="button-checkbox">

              {% if not bookings['clearwater'][deployment.name]['nodes'][node.name]['available'] %}
                <button type="button" class="btn-indent btn" data-color="primary" id="checkbox_button-release-{{ deployment.name }}-{{ node.name }}" data-html="true" data-toggle="popover" title="{{ node.name }}" data-content="{{ bookings['clearwater'][deployment.name]['nodes'][node.name]['tooltip'] }}" data-trigger="hover" data-container="body">{{ node.name }}</button>
                {{ node(class="hidden", id="checkbox-release-"+deployment.name+"-"+node.name) }}
              {% else %}
                <button type="button" class="btn-indent btn disabled" data-color="primary" id="checkbox_button-release-{{ deployment.name }}-{{ node.name }}">{{ node.name }}</button>
                {{ node(class="hidden", disabled="true", id="checkbox-release-"+deployment.name+"-"+node.name) }}
              {% endif %}

            </span>
          </p>
        {% endfor %}
      </div>
      <div id="initials_box-release-{{ deployment.name }}" class="form-group col-sm-9">
        <p>
          {{ clearwater_form.name(autocomplete="off", maxlength="4", placeholder="Enter Initials", class="form-control", style="width: 110px;", id="initials_box_input_field-release-"+deployment.name) }}
          <span class="glyphicon form-control-feedback" id="initials_box_glyph-release-{{ deployment.name }}" style="position: absolute; left:80px; top:0px;"></span>
        </p>
        <p>{{ clearwater_form.note(autocomplete="off", placeholder="Additional note (optional)", class="form-control reason-box", id="note-release-"+deployment.name) }}
        </p>
        <div class="col-sm-2" style="float: right">
          <p><button type="submit" class="btn btn-primary btn-outline" style="float: right">Release</button></p>
        </div>
      </div>
      </form>
    </div>





    <div class="container hidden" id="book_form-{{ deployment.name }}">
      <div class="col-sm-12">
        <span class="button-checkbox">
          {% if not bookings['clearwater'][deployment['name']]['fully_booked'] %}
            <button type="button" class="btn btn-xlg-check-not-full" data-color="primary" id="select_all_button-book-{{ deployment.name }}">{{ deployment.name }}</button>
            <input type="checkbox" class="hidden" id="select_all_checkbox-book-{{ deployment.name }}">
          {% else %}
            <button type="button" class="btn btn-xlg-check-not-full disabled" data-color="primary" id="select_all_button-book-{{ deployment.name }}">{{ deployment.name }}</button>
            <input type="checkbox" class="hidden" disabled="true" id="select_all_checkbox-book-{{ deployment.name }}">
          {% endif %}
        </span>

      </div>

      <form method="post" name="login" id="kit_booking_form" action="/clearwater_kit_booking">
      <div class="col-sm-3" id="{{ deployment.name }}">
        {% for node in deployment.nodes %}
          <p>
            <span class="button-checkbox">

              {% if bookings['clearwater'][deployment.name]['nodes'][node.name]['available'] %}
                <button type="button" class="btn-indent btn" data-color="primary" id="checkbox_button-book-{{ deployment.name }}-{{ node.name }}" >{{ node.name }}</button>
                {{ node(class="hidden", id="checkbox-book-"+deployment.name+"-"+node.name) }}
              {% else %}
                <button type="button" class="btn-indent btn disabled" data-color="primary">{{ node.name }}</button>
                {{ node(class="hidden", disabled="true", id="checkbox-book-"+deployment.name+"-"+node.name) }}
              {% endif %}

            </span>
          </p>
        {% endfor %}
      </div>
      <div id="initials_box-book-{{ deployment.name }}" class="form-group col-sm-9">
        <p>
          {{ clearwater_form.name(autocomplete="off", maxlength="4", placeholder="Enter Initials", class="form-control", style="width: 110px;", id="initials_box_input_field-book-"+deployment.name) }}
          <span class="glyphicon form-control-feedback" id="initials_box_glyph-release-{{ deployment.name }}" style="position: absolute; left:80px; top:0px;"></span>
        </p>
        <p>{{ clearwater_form.note(autocomplete="off", placeholder="Additional note (optional)", class="form-control reason-box", id="note-book-" + deployment.name) }}
        </p>
        <div class="col-sm-2" style="float: right">
          <p><button type="submit" class="btn btn-primary btn-outline" style="float: right">Book</button></p>
        </div>
      </div>
      </form>
    </div>
  {% endfor %}

<!-- VOLTE FORMS -->
{% for deployment in volte_form.deployments %}
    <!-- DEFAULT RELEASE FORM -->
    <div class="container hidden" id="release_form-{{ deployment.name }}">
      <div class="col-sm-12">
        <span class="button-checkbox">
          {% if not bookings['volte'][deployment['name']]['fully_unbooked'] %}
            <button type="button" class="btn btn-xlg-check-not-full" data-color="primary" id="select_all_button-release-{{ deployment.name }}">{{ deployment.name }}</button>
            <input type="checkbox" class="hidden" id="select_all_checkbox-release-{{ deployment.name }}">
          {% else %}
            <button type="button" class="btn btn-xlg-check-not-full disabled" data-color="primary" id="select_all_button-release-{{ deployment.name }}">{{ deployment.name }}</button>
            <input type="checkbox" class="hidden" disabled="true" id="select_all_checkbox-release-{{ deployment.name }}">
          {% endif %}
        </span>

      </div>

      <form method="post" name="login" id="kit_booking_form" action="/volte_kit_release">
      <div class="col-sm-3" id="{{ deployment.name }}">
        {% for node in deployment.nodes %}
          <p>
            <span class="button-checkbox">

              {% if not bookings['volte'][deployment.name]['nodes'][node.name]['available'] %}
                <button type="button" class="btn-indent btn" data-color="primary" id="checkbox_button-release-{{ deployment.name }}-{{ node.name }}" data-html="true" data-toggle="popover" title="{{ node.name }}" data-content="{{ bookings['volte'][deployment.name]['nodes'][node.name]['tooltip'] }}" data-trigger="hover" data-container="body">{{ node.name }}</button>
                {{ node(class="hidden", id="checkbox-release-"+deployment.name+"-"+node.name) }}
              {% else %}
                <button type="button" class="btn-indent btn disabled" data-color="primary" id="checkbox_button-release-{{ deployment.name }}-{{ node.name }}">{{ node.name }}</button>
                {{ node(class="hidden", disabled="true", id="checkbox-release-"+deployment.name+"-"+node.name) }}
              {% endif %}

            </span>
          </p>
        {% endfor %}
      </div>
      <div id="initials_box-release-{{ deployment.name }}" class="form-group col-sm-9">
        <p>
          {{ volte_form.name(autocomplete="off", maxlength="4", placeholder="Enter Initials", class="form-control", style="width: 110px;", id="initials_box_input_field-release-"+deployment.name) }}
          <span class="glyphicon form-control-feedback" id="initials_box_glyph-release-{{ deployment.name }}" style="position: absolute; left:80px; top:0px;"></span>
        </p>
        <p>{{ volte_form.note(autocomplete="off", placeholder="Additional note (optional)", class="form-control reason-box", id="note-release-"+deployment.name) }}
        </p>
        <div class="col-sm-2" style="float: right">
          <p><button type="submit" class="btn btn-primary btn-outline" style="float: right">Release</button></p>
        </div>
      </div>
      </form>
    </div>





    <div class="container hidden" id="book_form-{{ deployment.name }}">
      <div class="col-sm-12">
        <span class="button-checkbox">
          {% if not bookings['volte'][deployment['name']]['fully_booked'] %}
            <button type="button" class="btn btn-xlg-check-not-full" data-color="primary" id="select_all_button-book-{{ deployment.name }}">{{ deployment.name }}</button>
            <input type="checkbox" class="hidden" id="select_all_checkbox-book-{{ deployment.name }}">
          {% else %}
            <button type="button" class="btn btn-xlg-check-not-full disabled" data-color="primary" id="select_all_button-book-{{ deployment.name }}">{{ deployment.name }}</button>
            <input type="checkbox" class="hidden" disabled="true" id="select_all_checkbox-book-{{ deployment.name }}">
          {% endif %}
        </span>

      </div>

      <form method="post" name="login" id="kit_booking_form" action="/volte_kit_booking">
      <div class="col-sm-3" id="{{ deployment.name }}">
        {% for node in deployment.nodes %}
          <p>
            <span class="button-checkbox">

              {% if bookings['volte'][deployment.name]['nodes'][node.name]['available'] %}
                <button type="button" class="btn-indent btn" data-color="primary" id="checkbox_button-book-{{ deployment.name }}-{{ node.name }}" >{{ node.name }}</button>
                {{ node(class="hidden", id="checkbox-book-"+deployment.name+"-"+node.name) }}
              {% else %}
                <button type="button" class="btn-indent btn disabled" data-color="primary">{{ node.name }}</button>
                {{ node(class="hidden", disabled="true", id="checkbox-book-"+deployment.name+"-"+node.name) }}
              {% endif %}

            </span>
          </p>
        {% endfor %}
      </div>
      <div id="initials_box-book-{{ deployment.name }}" class="form-group col-sm-9">
        <p>
          {{ volte_form.name(autocomplete="off", maxlength="4", placeholder="Enter Initials", class="form-control", style="width: 110px;", id="initials_box_input_field-book-"+deployment.name) }}
          <span class="glyphicon form-control-feedback" id="initials_box_glyph-release-{{ deployment.name }}" style="position: absolute; left:80px; top:0px;"></span>
        </p>
        <p>{{ volte_form.note(autocomplete="off", placeholder="Additional note (optional)", class="form-control reason-box", id="note-book-" + deployment.name) }}
        </p>
        <div class="col-sm-2" style="float: right">
          <p><button type="submit" class="btn btn-primary btn-outline" style="float: right">Book</button></p>
        </div>
      </div>
      </form>
    </div>
  {% endfor %}

<!-- CCF FORMS -->
{% for deployment in ccf_form.deployments %}
    <!-- DEFAULT RELEASE FORM -->
    <div class="container hidden" id="release_form-{{ deployment.name }}">
      <div class="col-sm-12">
        <span class="button-checkbox">
          {% if not bookings['ccf'][deployment['name']]['fully_unbooked'] %}
            <button type="button" class="btn btn-xlg-check-not-full" data-color="primary" id="select_all_button-release-{{ deployment.name }}">{{ deployment.name }}</button>
            <input type="checkbox" class="hidden" id="select_all_checkbox-release-{{ deployment.name }}">
          {% else %}
            <button type="button" class="btn btn-xlg-check-not-full disabled" data-color="primary" id="select_all_button-release-{{ deployment.name }}">{{ deployment.name }}</button>
            <input type="checkbox" class="hidden" disabled="true" id="select_all_checkbox-release-{{ deployment.name }}">
          {% endif %}
        </span>

      </div>

      <form method="post" name="login" id="kit_booking_form" action="/ccf_kit_release">
      <div class="col-sm-3" id="{{ deployment.name }}">
        {% for node in deployment.nodes %}
          <p>
            <span class="button-checkbox">

              {% if not bookings['ccf'][deployment.name]['nodes'][node.name]['available'] %}
                <button type="button" class="btn-indent btn" data-color="primary" id="checkbox_button-release-{{ deployment.name }}-{{ node.name }}" data-html="true" data-toggle="popover" title="{{ node.name }}" data-content="{{ bookings['ccf'][deployment.name]['nodes'][node.name]['tooltip'] }}" data-trigger="hover" data-container="body">{{ node.name }}</button>
                {{ node(class="hidden", id="checkbox-release-"+deployment.name+"-"+node.name) }}
              {% else %}
                <button type="button" class="btn-indent btn disabled" data-color="primary" id="checkbox_button-release-{{ deployment.name }}-{{ node.name }}">{{ node.name }}</button>
                {{ node(class="hidden", disabled="true", id="checkbox-release-"+deployment.name+"-"+node.name) }}
              {% endif %}

            </span>
          </p>
        {% endfor %}
      </div>
      <div id="initials_box-release-{{ deployment.name }}" class="form-group col-sm-9">
        <p>
          {{ ccf_form.name(autocomplete="off", maxlength="4", placeholder="Enter Initials", class="form-control", style="width: 110px;", id="initials_box_input_field-release-"+deployment.name) }}
          <span class="glyphicon form-control-feedback" id="initials_box_glyph-release-{{ deployment.name }}" style="position: absolute; left:80px; top:0px;"></span>
        </p>
        <p>{{ ccf_form.note(autocomplete="off", placeholder="Additional note (optional)", class="form-control reason-box", id="note-release-"+deployment.name) }}
        </p>
        <div class="col-sm-2" style="float: right">
          <p><button type="submit" class="btn btn-primary btn-outline" style="float: right">Release</button></p>
        </div>
      </div>
      </form>
    </div>





    <div class="container hidden" id="book_form-{{ deployment.name }}">
      <div class="col-sm-12">
        <span class="button-checkbox">
          {% if not bookings['ccf'][deployment['name']]['fully_booked'] %}
            <button type="button" class="btn btn-xlg-check-not-full" data-color="primary" id="select_all_button-book-{{ deployment.name }}">{{ deployment.name }}</button>
            <input type="checkbox" class="hidden" id="select_all_checkbox-book-{{ deployment.name }}">
          {% else %}
            <button type="button" class="btn btn-xlg-check-not-full disabled" data-color="primary" id="select_all_button-book-{{ deployment.name }}">{{ deployment.name }}</button>
            <input type="checkbox" class="hidden" disabled="true" id="select_all_checkbox-book-{{ deployment.name }}">
          {% endif %}
        </span>

      </div>

      <form method="post" name="login" id="kit_booking_form" action="/ccf_kit_booking">
      <div class="col-sm-3" id="{{ deployment.name }}">
        {% for node in deployment.nodes %}
          <p>
            <span class="button-checkbox">

              {% if bookings['ccf'][deployment.name]['nodes'][node.name]['available'] %}
                <button type="button" class="btn-indent btn" data-color="primary" id="checkbox_button-book-{{ deployment.name }}-{{ node.name }}" >{{ node.name }}</button>
                {{ node(class="hidden", id="checkbox-book-"+deployment.name+"-"+node.name) }}
              {% else %}
                <button type="button" class="btn-indent btn disabled" data-color="primary">{{ node.name }}</button>
                {{ node(class="hidden", disabled="true", id="checkbox-book-"+deployment.name+"-"+node.name) }}
              {% endif %}

            </span>
          </p>
        {% endfor %}
      </div>
      <div id="initials_box-book-{{ deployment.name }}" class="form-group col-sm-9">
        <p>
          {{ ccf_form.name(autocomplete="off", maxlength="4", placeholder="Enter Initials", class="form-control", style="width: 110px;", id="initials_box_input_field-book-"+deployment.name) }}
          <span class="glyphicon form-control-feedback" id="initials_box_glyph-release-{{ deployment.name }}" style="position: absolute; left:80px; top:0px;"></span>
        </p>
        <p>{{ ccf_form.note(autocomplete="off", placeholder="Additional note (optional)", class="form-control reason-box", id="note-book-" + deployment.name) }}
        </p>
        <div class="col-sm-2" style="float: right">
          <p><button type="submit" class="btn btn-primary btn-outline" style="float: right">Book</button></p>
        </div>
      </div>
      </form>
    </div>
  {% endfor %}

{% endblock %}
