{% extends "base.html" %}
{% block content %}
<link href="http://whereabouts/prod/styles/metacomEmbed.css?v=3" rel="stylesheet" type="text/css" />
<link href="http://whereabouts/prod/styles/whereaboutsColors.css?v=3" rel="stylesheet" type="text/css" />

<table class='metacomEmbedBoxTable'>
  <thead>
    <tr>
      <th>Initials</th>
      <th>Name</th>
      <th>Timezone</th>
      {% for entry in table_date_headings %}
        <th class="{{ entry.style }}">{{ entry.text }}</th>
      {% endfor %}  
    </tr>
  </thead>

  <tbody>
    {% for row in table_data %}
    <tr>
      {% for data in row %}
        {% if data.split %}
          <td class="{{ data.style }}">
            <span class="{{ data.morning.style }}">{{ data.morning.text }}</span>
            <nobr>/</nobr>
            <span class="{{ data.afternoon.style }}">{{ data.afternoon.text }}</span>
          </td>
        {% else %}
          <td class="{{ data.day.style }} {{ data.style }}">{{ data.day.text }}</td>
        {% endif %}
      {% endfor %} 
    </tr>
    {% endfor %}
  </tbody>

</table>
{% endblock %}